{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation de votre mot de passe</h1>

    <p>Veuillez saisir un nouveau mot de passe.</p>

    {{ form_start(resetPasswordForm) }}
        {{ form_row(resetPasswordForm.password) }}
<button class="btn btn-primary" type="submit">Réintialiser mon mot de passe</button>
    {{ form_end(resetPasswordForm) }}

    <p><a href="{{ path('app_login') }}">Retour à la connexion</a></p>
{% endblock %}