{% extends 'base.html.twig' %}

{% block body %}
    <h1>Confirmer la suppression</h1>
    <p>Voulez-vous vraiment supprimer cette image ?</p>
    <img src="{{ asset('uploads/tricks/' ~ image.name) }}" alt="Image à supprimer" width="200">

    <form action="{{ path('app_image_delete', {'id': image.id}) }}" method="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a href="{{ path('app_trick_edit', {'slug': image.trick.slug}) }}" class="btn btn-secondary">Annuler</a>
    </form>
{% endblock %}