body {
    background-color: #FFFFFF;
    padding: 10px 50px 10px 50px;
}


.featured-image-container {
    position: relative;
    text-align: inline-block;
}

.featured-image {
    width: 100%;
    height: auto;
}

.image-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.image-actions a img {
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
}

.image-actions a img:hover {
    opacity: 0.8; 
}

.thumbnails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.icon-btn {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-content: center;
}

.icon-btn img {
    background-color: white; 
    border-radius: 50%; 
    margin: 0 5px;
    padding: 5px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
    transition: opacity 0.3s;
}

.trick-name-container h1 {
    display: none;
}

.trick-name-overlay {
    position: absolute;
    bottom: 10px; 
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;
    font-size: 3em; 
    border-radius: 5px;
    font-weight: bold;
}

.trick-name-input {
    position: absolute;
    bottom: 10px; 
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 3em;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
}

.trick-name-input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Placeholder en blanc semi-transparent */
}

.trick-name-input:focus {
    background-color: rgba(0, 0, 0, 0.6); 
    outline: 2px solid #fff;
}

.thumbnails-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    /* overflow-x: auto;  */
}


.trick-details {
    margin: 20px;
    text-align: center;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #A9DFF7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container .form-input,
.form-container .form-select,
.form-container .description-textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

#toggle-media-btn {
    display: none;
}

.media-thumbnails {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: center;
    visibility: visible;
}

.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.thumbnail-image, .thumbnail-video {
    width: 150px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 5px;
    border: 2px solid #ccc;
}

.description {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.description-container {
    display: flex;
    justify-content: center; /* Centre le conteneur */
    margin: 10px 0;
}

.description-textarea {
    width: 90%; 
    height: 150px; 
    padding: 10px; 
    font-size: 1rem; 
    resize: vertical; 
}

.trick-info {
    display: flex;
    gap: 15px;
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.trick-info span {
    display: flex;
    align-items: center;
}

.trick-info select {
    margin-left: 5px; 
}

.media-section {
    background-color: #A9DFF7;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.media-group {
    margin-bottom: 15px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background-color: #f1f1f1;
    color: #333;
}

h2, h3 {
    color: #333;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.popup button {
    margin-top: 10px;
}


/* Barre de navigation mobile */
.bottom-nav {
    display: none; /* Masquée par défaut */
}

nav {
    background-color:#A9DFF7;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: navy;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px; 
    color:#333333;
}

/* Container du formulaire */
.comment-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style pour les champs de saisie */
.comment-form .form-group {
    margin-bottom: 15px;
}

.comment-form label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/*Formulaire Comment*/
.comment-form .comment-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical; /* Autorise le redimensionnement vertical pour les commentaires */
}

/* Style pour le bouton d'envoi */
.btn-submit {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-header {
    display: flex;             
    align-items: center;       
    margin-bottom: 10px;       
}

.profil-icon {
    width: 24px;  
    height: 24px;
    border-radius: 50%; 
    margin-right: 8px; 
    object-fit: cover; 
    vertical-align: middle;
}

.user-name {
    font-weight: bold;
    margin-right: 8px;
}

.comment-date {
    color: #777;            
    font-size: 0.9em;          
}

.btn-submit:hover {
    background-color: #0056b3;
}


/* Home */
.hero-section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
display: none;
}

.hero-subtitle {
    font-size: 1.5rem;
}

/* Flèche vers la liste des tricks */
.scroll-down {
    position: absolute;
    bottom: 80px;
    right: 20px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.scroll-down:hover {
    color: #ccc;
    cursor: pointer;
}

/* Styles pour la liste des tricks */
.tricks-container {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
}

.trick-item {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image miniature avec background-cover */
.trick-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

/* Bandeau pour le nom du trick */
.trick-name {
    display: block;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.trick-item a {
    text-decoration: none;
    color: inherit;
}

/* Boutons Modification et Suppression */
.trick-actions {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    margin-top: auto;
}

.title-with-button {
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre le titre et le bouton */
}

.add-trick-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* Login */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.login-form label,
.login-form input,
.login-form .forgot-password,
.login-form .submit-button {
    width: 100%;
    margin-bottom: 1rem;
}

.login-form .forgot-password {
    text-align: right;
    font-size: 0.9rem;
}

.checkbox {
    margin: 5px;
}

.checkbox label {
    display: inline-flex;
    white-space: nowrap;
}

.checkbox input[type="checkbox"] {
    margin-right: 5px; 
}

/*Conditions Générales*/

terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.terms-container h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.terms-container h2 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #444;
}

.terms-container p, .terms-container ul {
    margin-bottom: 15px;
    color: #555;
}

.terms-container ul {
    padding-left: 20px;
    list-style-type: disc;
}

.terms-container a {
    color: #007bff;
    text-decoration: none;
}

.terms-container a:hover {
    text-decoration: underline;
}

.footer-note {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    margin-top: 30px;
}