<form method="post" action="{{ path('app_trick_delete', {'slug': trick.slug}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce trick?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
	<button type="submit" class="icon-btn" title="Delete">
		<img src="{{ asset('Images/delete-icon.png') }}" alt="Delete" width="20" height="20">
	</button>
</form>
